/*/  === INLINE IMAGES ===  /*/

img.imgtoright,
img.imgtoright-quarter {
	float: right;
	margin: 15px 0 15px 2%;
	clear: right;
	max-width: 48%;
	width: 480px;
    *:first-child > & {margin-top:0;}
}

img.imgtoleft,
img.imgtoleft-quarter {
	float: left;
	margin: 15px 2% 15px 0;
	clear: left;
	max-width: 48%;
	width: 480px;
        *:first-child > & {margin-top:0;}
}

img.imgtomiddle {
	float: none;
	margin: 15px auto;
	clear: both;
	display: block;
    max-width: 100%;
}

img.imgtoleft-quarter,
img.imgtoright-quarter {
	width: 240px;
	max-width: 30%;
}

img.img-thumbnail {
	max-width: 23%;
	float: left;
	margin: 0 0 2% 15px;
}

@media all and (max-width: 768px) {
	img.imgtoright,
	img.imgtoleft {
		max-width: 48%;
	}
}

@media all and (max-width: 480px) {
	img.imgtoright,
	img.imgtoleft {
		float: none;
		margin: 15px auto;
		clear: both;
		display: block;
		max-width: 100%;
	}
	img.imgtoleft-quarter,
	img.imgtoright-quarter {
		max-width: 48%;
	}
}
